.circular-wrapper {
  width: 140px;
  height: 140px;
  position: relative;
}

.bg-circle {
  stroke: #2c2f33;   /* Dark grey background */
  fill: transparent;
}

.progress-circle {
  stroke: #318287;   /* Cyan progress color */
  fill: transparent;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease;
}

.progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
  font-weight: 600;
}
